<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Case | Add</title>
        <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <script th:src="@{/jquery/jquery-3.6.0.min.js}"></script>
        <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
        <meta name="author" content="11‘s papa">
    </head>
    <body>
        <div th:fragment="addCaseFragment">
            <!-- 添加测试用例Modal弹框 -->
            <form th:action="@{/case/addCase}" method="post">
                <div class="modal fade" id="addCaseModal" tabindex="-1"
                     aria-labelledby="addCaseModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content needs-validation">
                            <div class="modal-header">
                                <h5 class="modal-title bg-light" id="addCaseModalLabel">添加测试用例</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button></div>
                            <div class="modal-body">
                                <div class="row g-3 align-items-center">
                                    <div class="col-md-4">
                                        <label for="projectId" class="form-label">项目名称</label>
                                        <input name="caseProjectId" id="projectId" type="text"
                                               class="form-control" placeholder value
                                               list="proList" required>
                                        <datalist id="proList" th:each="pro:${proMap}">
                                            <option th:value="${pro.value.projectName}"
                                                    th:text="${pro.value.projectName}"></option>
                                        </datalist>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="caseSuiteId" class="form-label">用例集名称</label>
                                        <input name="caseSuiteId" id="caseSuiteId" type="text" class="form-control"
                                               placeholder value
                                               required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="caseTitle" class="form-label">测试用例标题</label>
                                        <input name="caseTitle" id="caseTitle" type="text"
                                               class="form-control" placeholder
                                               value
                                               required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="caseSummary" class="form-label">摘要</label>
                                        <textarea name="caseSummary" id="caseSummary" type="text"
                                                  class="form-control" rows="2"></textarea>
                                    </div>

                                    <div class="col-md-12">
                                        <label for="casePrecondition" class="form-label">前提条件</label>
                                        <textarea name="casePrecondition" id="casePrecondition" type="text" class="form-control"
                                                  rows="2"></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="caseSteps" class="form-label">测试步骤</label>
                                            <textarea name="caseSteps" id="caseSteps" type="text" class="form-control"
                                                      rows="2"></textarea>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="caseExpectedResults" class="form-label">预期结果</label>
                                            <textarea name="caseExpectedResults" id="caseExpectedResults" type="text" class="form-control"
                                                      rows="2"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    取消
                                </button>
                                <button type="submit" class="btn btn-primary">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
