<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Case | Add</title>
        <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <script th:src="@{/jquery/jquery-3.6.0.min.js}"></script>
        <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
        <meta name="author" content="11‘s papa">
    </head>
    <body>
        <div th:fragment="addCaseFragment">
            <!-- 添加测试用例Modal弹框 -->
            <form th:action="@{/case/addCase}" method="post">
                <div class="modal fade" id="addCaseModal" tabindex="-1"
                     aria-labelledby="addCaseModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content needs-validation">
                            <div class="modal-header">
                                <h5 class="modal-title bg-light" id="addCaseModalLabel">添加测试用例</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">项目名称</span>
                                    <input name="caseProjectId" id="projectId" type="text"
                                           class="form-control" placeholder="输入项目名称"
                                           list="proList" required aria-label="项目名称"
                                           aria-describedby="basic-addon1">
                                    <datalist id="proList">
                                        <option th:each="pro:${proMap}" th:value="${pro.value.projectName}"
                                                th:text="${pro.value.projectName}"></option>
                                    </datalist>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="suite-span">用例集名称</span>
                                    <input name="caseModuleId" id="caseSuiteId" type="text" class="form-control"
                                           placeholder="输入测试用例集名称"
                                           required aria-label="用例集名称"
                                           aria-describedby="suite-span">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="title-span">测试用例标题</span>
                                    <input name="caseTitle" id="caseTitle" type="text"
                                           class="form-control" placeholder="测试用例标题"
                                           aria-label="测试用例标题"
                                           aria-describedby="title-span"
                                           required>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="summary-span">摘要</span>
                                    <input class="form-control" name="caseSummary" id="caseSummary"
                                           placeholder="摘要" aria-label="摘要" aria-describedby="summary-span">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="pre-span">前提条件</span>
                                    <input class="form-control" name="casePrecondition" id="casePrecondition"
                                           placeholder="前提条件" aria-label="前提条件" aria-describedby="pre-span">
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="monthDate" class="form-label"></label>
                                        <select class="form-select" name="issueDate" id="monthDate"
                                                required>
                                            <option th:each="m:${monthList}"
                                                    th:value="${m}"
                                                    th:text="${m}"
                                                    th:selected="${#dates.format(#dates.createToday(),'yyyy-MM') eq m}"
                                            >
                                        </select>
                                    </div>
                                    <div>
                                        <a href="#" id="AddMoreFileBox" class="btn btn-info"
                                           onclick="addCaseStep()">添加</a>
                                    </div>
                                </div>
                                <input id="caseSteps" name="caseSteps" type="hidden" class="form-control">
                                <input id="caseExpectedResults" name="caseExpectedResults" type="hidden"
                                       class="form-control">
                                <div id="caseStepArea">
                                    <div class="position-relative" id="alertPlaceholder"></div>
                                    <div class="row" id="row_1">
                                        <div class="col-md-5">
                                            <label for="caseSteps_1" class="form-label">测试步骤</label>
                                            <textarea name="caseSteps[]" id="caseSteps_1" type="text"
                                                      class="form-control"
                                                      rows="2"></textarea>
                                        </div>
                                        <div class="col-md-5">
                                            <label for="caseExpectedResults_1" class="form-label">预期结果</label>
                                            <textarea name="caseExpectedResults[]" id="caseExpectedResults_1"
                                                      type="text"
                                                      class="form-control"></textarea>
                                        </div>
                                        <div class="position-relative col-md-1">
                                            <a class="position-absolute top-50 start-50">
                                                <i class="bi bi-backspace" style="color: #bb2d3b" id="del"
                                                   onclick="removeCaseStep(this)"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div th:replace="~{common/common::modal-footer}"></div>
                        </div>
                    </div>
                </div>
            </form>
            <script>
                function addCaseStep() {

                    const caseStepArea = document.getElementById("caseStepArea");
                    let div_index = caseStepArea.getElementsByClassName("row").length;
                    div_index++;
                    $(caseStepArea).append('<div class="row" id="row_' + div_index + '">\n' +
                        '                                            <div class="col-md-5">\n' +
                        '                                                <label for="caseSteps_' + div_index + '" class="form-label">测试步骤</label>\n' +
                        '                                                <textarea name="caseSteps[]" id="caseSteps_' + div_index + '" type="text"\n' +
                        '                                                          class="form-control"\n' +
                        '                                                          rows="2"></textarea>\n' +
                        '                                            </div>\n' +
                        '                                            <div class="col-md-5">\n' +
                        '                                                <label for="caseExpectedResults_' + div_index + '" class="form-label">预期结果</label>\n' +
                        '                                                <textarea name="caseExpectedResults[]" id="caseExpectedResults_' + div_index + '"\n' +
                        '                                                          type="text"\n' +
                        '                                                          class="form-control"></textarea>\n' +
                        '                                            </div>\n' +
                        '                                            <div class="position-relative col-md-1">\n' +
                        '                                                <a class="position-absolute top-50 start-50">\n' +
                        '                                                    <i class="bi bi-backspace" style="color: #bb2d3b" id="del"\n' +
                        '                                                       onclick="removeCaseStep(this)"></i>\n' +
                        '                                                </a>\n' +
                        '                                            </div>\n' +
                        '                                        </div>')
                }

                function removeCaseStep(obj) {
                    const caseStepArea = document.getElementById("caseStepArea");
                    const x = caseStepArea.getElementsByClassName("row");
                    if (x.length > 1) {
                        $(obj).parent("a").parent("div").parent("div").remove();
                    } else {
                        alter("至少保留一条", 'warning')
                    }
                }

                function sub() {
                    const p_div = document.getElementById("caseStepArea");
                    const s_div = p_div.getElementsByClassName("row");
                    const temp_steps = [];
                    const temp_results = [];
                    for (let i = 0; i < s_div.length; i++) {
                        temp_steps[i] = s_div[i].getElementsByTagName("textarea")[0].value;
                        temp_results[i] = s_div[i].getElementsByTagName("textarea")[1].value;
                    }
                    const c_s = document.getElementById("caseSteps");
                    c_s.setAttribute("value", temp_steps.toString());
                    const cer = document.getElementById("caseExpectedResults");
                    cer.setAttribute("value", temp_results.toString());
                    console.log(c_s);
                    console.log(cer);
                }

                const alterDiv = document.getElementById('alertPlaceholder');

                function alter(message, type) {
                    const wrapper = document.createElement('div');
                    wrapper.innerHTML = '<div class="alert alert-' + type + ' alert-dismissible position-absolute top-0 end-0" role="alert">' + message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>'
                    alterDiv.append(wrapper)
                }
            </script>
        </div>
    </body>
</html>
