<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title</title>
        <link th:href="@{/common/404.css}" rel="stylesheet">
        <meta name="author" content="11‘s papa">
    </head>
    <body>
        <!-- 顶部导航 -->
        <div th:replace="~{common/common::topbar}"></div>
        <div id="notfound">
            <div class="notfound">
                <div class="notfound-bg">
                    <div></div>
                    <div></div>
                </div>
                <h2>ERROR 500</h2>
                <p th:text="${message.get('exMsg')}"></p>
                <a th:href="@{/}">go back</a>
            </div>
        </div>
    </body>
</html>
