<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TRACKING | Dashboard</title>
        <link rel="shortcut icon" href="../static/favicon.ico">
        <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/bootstrap/icons/bootstrap-icons.css}">
        <link th:href="@{/common/top-bar-4.css}" rel="stylesheet">
        <script th:src="@{/echarts/dist/echarts.min.js}"></script>
        <script th:src="@{/jquery/jquery-3.6.0.min.js}"></script>
        <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
        <meta name="author" content="11‘s papa">
    </head>
    <body>
        <!-- 顶部导航 -->
        <div th:replace="~{common/common::top-bar-4}"></div>
        <div class="page-information">
            <div class="container-fluid">
                <div class="d-flex justify-content-between flex-wrap pt-3 mb-3 border-bottom">
                    <h1 class="h2">coming soon...</h1>
                </div>
            </div>
            <!--            <canvas class="row col-lg card card-body" id="issueStatistics"-->
            <!--                    style="display: block;width: 826px; height: 335px;"></canvas>-->
            <div class="main-wrapper">
                <div class="row">
                    <div class="col-sm-6 stretch-card grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <span class="text-muted font-13">cccccc</span>
                                <div class="line-chart-wrapper">
                                    <div id="issueStatistics" style="display:block;width: 722px; height: 192px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 stretch-card grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <span class="text-muted font-13">cccccc</span>
                                <div class="line-chart-wrapper">
                                    <div id="demo1" style="display:block;width: 722px; height: 192px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" th:value="${xAxisList}" id="xAxisList">
        <input type="hidden" th:value="${newSeries}" id="yAxisList">
        <script type="text/javascript">
            const chart1 = echarts.init(document.getElementById('issueStatistics'));
            const chart2 = echarts.init(document.getElementById('demo1'));
            const tempXAxi = JSON.parse($("#xAxisList").val())[0].data;
            const tempCount = JSON.parse($("#yAxisList").val())[0].data;
            // 指定图表的配置项和数据
            const option = {
                tooltip: {},
                legend: {},
                xAxis: {
                    data: tempXAxi
                },
                yAxis: {
                    minInterval: 1 // 只显示整数
                },
                series: [{
                    name: '新增',
                    type: 'bar',
                    data: tempCount
                }]
            };
            chart1.setOption(option);
            const c2option = {
                tooltip: {},
                legend: {},
                xAxis: {
                    data: tempXAxi
                },
                yAxis: {
                    minInterval: 1 // 只显示整数
                },
                series: [{
                    name: '新增',
                    type: 'bar',
                    data: tempCount
                }]
            };
            chart2.setOption(c2option)
        </script>
        <script th:src="@{/common/js/top_bar.js}"></script>
        <script th:src="@{/common/js/top-bar-4.js}"></script>
    </body>
</html>
