<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TRACKING | Dashboard</title>
    <link rel="shortcut icon" href="../static/favicon.ico">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <meta name="author" content="11‘s papa">
</head>
<body>
<!-- 顶部导航 -->
<div th:replace="~{common/common::topbar}"></div>
<h1>working</h1>
</body>
</html>
