<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TRACKING|PROJECT</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/common/common.css}" rel="stylesheet">
</head>
<body>
<!-- 顶部导航 -->
<div th:replace="~{common/common::topbar}"></div>
<div class="section-body mt-4">
    <div class="container-fluid">
        <div class="tab-content">
            <div class="tab-pane active">
                <div class="card">
                    <form th:action="@{/items/list}" class="row g-3" style="width: 75%">
                        <div class="card-body">
                            <div class="row">
                                <div class="input-group mb-3" style="width: 30%">
                                    <div class="form-group">
                                        <span class="input-group-text">项目名称</span>
                                    </div>
                                    <input name="projectName" class="form-control" id="projectName" type="text"
                                           placeholder="请输入项目名称"/>
                                </div>
                                <div class="input-group mb-3" style="width: 16%">
                                    <div class="form-group">
                                        <span class="input-group-text">严重程度</span>
                                    </div>
                                    <select id="jobStatus" name="jobStatus" class="form-select">
                                        <option selected>--选择--</option>
                                        <option th:each="temp:${issueStatusList}" th:value="${temp.getTypeCode()}"
                                                th:text="${temp.getTypeName()}">
                                        </option>
                                    </select>
                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-6">
                                    <button type="submit" class="btn btn-primary">search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <a th:href="@{/items/goAdd}" class="btn btn-primary mb-3 mb-lg-0">
                            <i class="bx bxs-plus-square">添加问题单</i>
                        </a>
                        <a href="#" class="btn btn-light mb-3 mb-lg-0">
                            <i class="bx bxs-plus-square">
                                <del>导出</del>
                            </i>
                        </a>
                    </div>
<!--                    <div class="col-sm-2" style="overflow: auto">-->
<!--                        &lt;!&ndash;分页&ndash;&gt;-->
<!--&lt;!&ndash;                        <div style="display: inline-block">Showing 1 to 10 of 11 entries</div>&ndash;&gt;-->
<!--                        <div style="display: inline-block">-->
<!--                            <nav aria-label="Page navigation example">-->
<!--                                <ul class="pagination pagination-sm">-->
<!--                                    <li class="page-item disabled">-->
<!--                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>-->
<!--                                    </li>-->
<!--                                    <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--                                    <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                                    <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--                                    <li class="page-item">-->
<!--                                        <a class="page-link" href="#">Next</a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </nav>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
                <div class="table-responsive card">
                    <table class="table table-striped table-advance table-hover">
                        <thead>
                        <tr>
                            <th th:width="80px">issue#</th>
                            <th th:width="150px">项目名称</th>
                            <th th:width="100px">所属模块</th>
                            <th th:width="100px">功能点</th>
                            <th th:width="200px" class="align-content-center">问题描述</th>
                            <th th:width="100px">严重程度</th>
                            <th th:width="100px">测试人员</th>
                            <th th:width="100px">状态</th>
                            <th th:width="200px">备注</th>
                            <th th:width="100px">月份</th>
                            <th th:width="50px"><i class="icon_cogs">
                            </i>操作
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="tempItem,stat:${issueList}">
                            <input name="id" type="hidden" class="form-control" th:value="${tempItem.getId()}">
                            <td th:text="${stat.index+1}"></td>
                            <td th:text="${proMap.get(tempItem.getProjectId()).projectName}"></td>
                            <td th:text="${tempItem.getModule()}"></td>
                            <td th:text="${tempItem.getFunctionDesc()}"></td>
                            <td th:text="${tempItem.getTitleDesc()}">
                            <td>
                        <span th:switch="${tempItem.getSeverity()}">
                            <span th:case="1">轻微</span>
                            <span th:case="2">一般</span>
                            <span th:case="3">严重</span>
                            <span th:case="4">致命</span>
                        </span>
                            </td>
                            <td>
                        <span th:switch="${tempItem.getOwner()}">
                            <span th:case="lijinglin">李敬林</span>
                            <span th:case="zhangkun">张坤</span>
                            <span th:case="shaodan">邵丹</span>
                        </span>
                            </td>
                            <td>
                        <span th:switch="${tempItem.getStatus()}">
                            <span th:case="1">新建</span>
                            <span th:case="2">挂起</span>
                            <span th:case="3">已提交</span>
                            <span th:case="4">已解决</span>
                            <span th:case="5">非bug</span>
                        </span>
                            </td>
                            <td th:text="${tempItem.getRemark()}"></td>
                            <td th:text="${tempItem.getIssueDate()}"></td>
                            <td>
                                <a th:href="@{/items/goModify(id=${tempItem.getId()})}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-edit-2 align-middle">
                                        <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
