<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TRACKING|PROJECT</title>
        <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <script th:src="@{/jquery/jquery-3.6.0.min.js}"></script>
        <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
        <link th:href="@{/common/common.css}" rel="stylesheet">
        <!--        <style>-->
        <!--            .modal {-->
        <!--                display: table;-->
        <!--                width: 600px;-->
        <!--                height: 100%;-->
        <!--                margin: 0 auto;-->
        <!--            }-->

        <!--            .modal-dialog {-->
        <!--                display: table-cell;-->
        <!--                vertical-align: center;-->
        <!--            }-->
        <!--        </style>-->
    </head>
    <body>
        <!-- 顶部导航 -->
        <div th:replace="~{common/common::topbar}"></div>
        <div class="section-body mt-4">
            <div class="container-fluid">
                <div class="tab-content">
                    <div class="tab-pane active">
                        <!--查询-->
                        <div class="card">
                            <form th:action="@{/items/list}" class="row g-3" style="width: 75%">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="input-group mb-3" style="width: 20%">
                                            <div class="form-group">
                                                <span class="input-group-text">项目名称</span>
                                            </div>
                                            <input name="projectId" class="form-control" id="projectName" type="text"
                                                   placeholder="请输入项目名称"/>
                                        </div>
                                        <div class="input-group mb-3" style="width: 16%">
                                            <div class="form-group">
                                                <span class="input-group-text">严重程度</span>
                                            </div>
                                            <select id="severity-search" name="severity" class="form-select">
                                                <option selected>--选择--</option>
                                                <option th:each="temp:${severityList}"
                                                        th:value="${temp.getTypeCode()}"
                                                        th:text="${temp.getTypeName()}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-sm-6">
                                            <button type="submit" class="btn btn-primary">search</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-sm-10">
                                <!--跳转至页面，添加问题单-->
                                <!--                                <a th:href="@{/items/goAdd}" class="btn btn-primary mb-3 mb-lg-0 disabled">-->
                                <!--                                    <i class="bx bxs-plus-square">添加问题单</i>-->
                                <!--                                </a>-->
                                <!--弹框的方式添加问题单-->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#issueAddModal">
                                    添加问题单
                                </button>
                                <a href="#" class="btn btn-light mb-3 mb-lg-0 disabled">导出</a>
                            </div>
                        </div>
                        <!--列表数据-->
                        <div class="table-responsive card">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th class="border-end" th:width="80px">issue#</th>
                                    <th class="border-end" th:width="150px">项目名称</th>
                                    <th class="border-end" th:width="100px">所属模块</th>
                                    <th class="border-end" th:width="100px">功能点</th>
                                    <th class="border-end align-content-center" th:width="200px">问题描述</th>
                                    <th class="border-end" th:width="100px">严重程度</th>
                                    <th class="border-end" th:width="100px">测试人员</th>
                                    <th class="border-end" th:width="100px">状态</th>
                                    <th class="border-end" th:width="200px">备注</th>
                                    <th class="border-end" th:width="100px">月份</th>
                                    <th class="border-end" th:width="50px"><i class="icon_cogs">
                                    </i>操作
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="tempItem,stat:${issueListPage.records}">
                                    <input name="id" type="hidden" class="form-control"
                                           th:value="${tempItem.getIssueId()}">
                                    <td th:text="${stat.index+1}"></td>
                                    <td th:text="${proMap.get(tempItem.getProjectId()).projectName}"></td>
                                    <td th:text="${tempItem.getModule()}"></td>
                                    <td th:text="${tempItem.getFunctionDesc()}"></td>
                                    <td th:text="${tempItem.getTitleDesc()}">
                                    <td>
                            <span th:each="c:${severityList}">
                                <span th:if="${#strings.isEmpty(tempItem.severityUpdate)}">
                                    <span th:if="${#strings.equals(tempItem.severity,c.typeCode)}"
                                          th:value="${c.typeCode}" th:text="${c.typeName}"></span>
                                </span>
                                <span th:if="${!#strings.isEmpty(tempItem.severityUpdate)}">
                                    <span th:if="${#strings.equals(tempItem.severityUpdate,c.typeCode)}"
                                          th:value="${c.typeCode}" th:text="${c.typeName}"></span>
                                </span>
                        </span>
                                    </td>
                                    <td>
                                <span th:each="c:${ownerList}">
                                    <span th:if="${#strings.equals(tempItem.owner,c.typeCode)}"
                                          th:value="${c.typeCode}" th:text="${c.typeName}"></span>
                        </span>
                                    </td>
                                    <td>
                        <span th:each="c:${issueStatusList}">
                            <span th:if="${!#strings.isEmpty(tempItem.statusUpdate)}">
                                        <span th:if="${#strings.equals(tempItem.statusUpdate,c.typeCode)}"
                                              th:value="${c.typeCode}" th:text="${c.typeName}"></span>
                                    </span>
                                    <span th:if="${#strings.isEmpty(tempItem.statusUpdate)}">
                                        <span th:if="${#strings.equals(tempItem.status,c.typeCode)}"
                                              th:value="${c.typeCode}" th:text="${c.typeName}"></span>
                                    </span>
                        </span>
                                    </td>
                                    <td th:text="${tempItem.getRemark()}"></td>
                                    <td th:text="${tempItem.getIssueDate()}"></td>
                                    <td>
                                        <a th:href="@{/items/goModify(id=${tempItem.getIssueId()})}"
                                           data-bs-toggle="modal"
                                           data-bs-target="#issueModifyModal">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd"
                                                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                            </svg>
                                        </a>
                                        <a href="#" class="disabled">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                <path fill-rule="evenodd"
                                                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--分页-->
                        <div class="row">
                            <div class="col-sm-12 col-md-3"></div>
                            <div class="col-sm-12 col-md-9">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end" th:if="${issueListPage.getTotal()} ge 0"
                                        th:value="${issueListPage.getTotal()}">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous"
                                               th:href="@{/items/list(pn=${issueListPage.hasPrevious()}?${issueListPage.current}-1:1)}">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item"
                                            th:each="num:${#numbers.sequence(1,issueListPage.getPages())}"
                                            th:class="${num == issueListPage.current}?'active':''">
                                            <a class="page-link" th:href="@{/items/list(pn=${num})}">[[${num}]]</a>
                                        </li>
                                        <li class="page-item" th:if="${issueListPage.hasNext()}">
                                            <a class="page-link" href="#" aria-label="Next"
                                               th:href="@{/items/list(pn=${issueListPage.current}+1)}">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- 添加问题单Modal弹框 -->
                        <div class="modal fade" id="issueAddModal" tabindex="-1"
                             aria-labelledby="issueAddModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered" id="issueAddModalDialog">
                                <form class="modal-content needs-validation" id="issueAddModalContent"
                                      th:action="@{/items/addIssue}"
                                      method="post">
                                    <div class="modal-header">
                                        <h5 class="modal-title bg-light" id="issueAddModalLabel">添加问题单</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row g-3 align-items-center">
                                            <div class="col-md-4">
                                                <label for="projectId" class="form-label">项目名称</label>
                                                <input name="projectId" id="projectId" type="text"
                                                       class="form-control" placeholder value
                                                       required>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="module" class="form-label">模块</label>
                                                <input name="module" id="module" type="text" class="form-control"
                                                       placeholder value
                                                       required>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="functionDesc" class="form-label">功能点</label>
                                                <input name="functionDesc" id="functionDesc" type="text"
                                                       class="form-control" placeholder
                                                       value
                                                       required>
                                            </div>
                                            <div class="col-md-12">
                                                <label for="title" class="form-label">标题(问题描述)</label>
                                                <textarea name="titleDesc" id="title" type="text"
                                                          class="form-control" rows="2"></textarea>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="severity" class="form-label"></label>
                                                <select class="form-select" name="severity" id="severity" required>
                                                    <option value="">--严重程度--</option>
                                                    <option th:each="s:${severityList}"
                                                            th:value="${s.getTypeCode()}"
                                                            th:text="${s.getTypeName()}">
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="owner" class="form-label"></label>
                                                <select class="form-select" name="owner" id="owner" required>
                                                    <option value="">--测试人员--</option>
                                                    <option th:each="o:${ownerList}"
                                                            th:value="${o.getTypeCode()}"
                                                            th:text="${o.getTypeName()}"
                                                    >
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="status" class="form-label"></label>
                                                <select class="form-select" name="status" id="status" required>
                                                    <option th:each="s:${statusList}"
                                                            th:value="${s.getTypeCode()}"
                                                            th:text="${s.getTypeName()}"
                                                            th:selected="${s.getTypeCode() eq '1'}"
                                                    >
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="monthDate" class="form-label"></label>
                                                <select class="form-select" name="issueDate" id="monthDate"
                                                        required>
                                                    <option th:each="m:${monthList}"
                                                            th:value="${m}"
                                                            th:text="${m}"
                                                            th:selected="${#dates.format(#dates.createToday(),'yyyy-MM') eq m}"
                                                    >
                                                </select>
                                            </div>
                                            <div class="col-md-12">
                                                <label for="remark" class="form-label">备注</label>
                                                <textarea name="remark" id="remark" type="text" class="form-control"
                                                          rows="2"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消
                                        </button>
                                        <button type="submit" class="btn btn-primary">保存</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- 修改问题单Modal弹框 -->
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
