<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.master.track.mapper.TypeGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.master.track.entity.TypeGroup">
        <id column="id" property="id" />
        <result column="type_group_code" property="typeGroupCode" />
        <result column="type_group_name" property="typeGroupName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type_group_code, type_group_name
    </sql>

</mapper>
