<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ISSUE | SUMMARY | MODIFY</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/jquery/jquery-3.6.0.min.js}"></script>
</head>
<body>
<!-- 顶部导航 -->
<div th:replace="~{common/common::topbar}"></div>
<div class="content container-fluid">
    <!--    page header-->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">编辑任务汇总信息</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form th:action="@{/summary/modifySummary}" method="post" th:object="${summaryVo}">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title">任务信息</h5>
                            </div>
                            <input name="id" type="hidden" class="form-control" th:value="*{id}">
                            <div class="input-group mb-3" style="width: 50%">
                                <div class="form-group">
                                    <span class="input-group-text">项目名称</span>
                                </div>
                                <input th:type="text" th:class="form-control" name="projectName" id="proName" readonly
                                       th:value="${proMap.get(summaryVo.getProjectName()).projectName}">
                            </div>
                            <div class="input-group mb-3" style="width: 50%">
                                <div class="form-group">
                                    <span class="input-group-text">任务描述</span>
                                </div>
                                <input th:type="text" th:class="form-control" name="jobDesc" id="jobDesc"
                                       th:value="*{jobDesc}">
                            </div>
                            <div class="input-group mb-3" style="width: 25%">
                                <div class="form-group">
                                    <span class="input-group-text">编写用例</span>
                                </div>
                                <input th:type="text" th:class="form-control" name="createCaseCount" id="createCase"
                                       th:value="*{createCaseCount}">
                            </div>
                            <div class="input-group mb-3" style="width: 25%">
                                <div class="form-group">
                                    <span class="input-group-text">执行用例</span>
                                </div>
                                <input th:type="text" th:class="form-control" name="executeCaseCount" id="executeCase"
                                       th:value="*{executeCaseCount}">
                            </div>
                            <div class="input-group mb-3" style="width: 25%">
                                <div class="form-group">
                                    <span class="input-group-text">完成状态</span>
                                </div>
                                <select class="form-select" name="jobStatus" id="jobStatus" required>
                                    <option th:each="temp:${jobStatusList}" th:value="${temp.getTypeCode()}"
                                            th:selected="${summaryVo.jobStatus eq temp.getTypeCode()}"
                                            th:text="${temp.getTypeName()}">
                                </select>
                            </div>
                            <div class="input-group mb-3" style="width: 25%">
                                <div class="form-group">
                                    <span class="input-group-text">测试人员</span>
                                </div>
                                <select class="form-select" name="owner" id="owner" required>
                                    <option th:each="temp:${ownerList}" th:value="${temp.getTypeCode()}"
                                            th:selected="${summaryVo.owner eq temp.getTypeCode()}"
                                            th:text="${temp.getTypeName()}">
                                </select>
                            </div>
                            <div class="input-group mb-3" style="width: 25%">
                                <span th:switch="*{bugDoc}">
                                    <label class="radio-inline">
                                    <span th:case="0">
                                        <input type="radio" value="0" name="bugDoc" checked>无bug文档
                                        <input type="radio" value="1" name="bugDoc">有bug文档
                                    </span>
                                        <span th:case="1">
                                            <input type="radio" value="0" name="bugDoc">无bug文档
                                        <input type="radio" value="1" name="bugDoc" checked>有bug文档
                                        </span>
                                </label>
                                </span>
                            </div>
                            <div class="input-group mb-3" style="width: 25%">
                                <span th:switch="*{reportDoc}">
                                    <label class="radio-inline">
                                        <span th:case="0">
                                        <input type="radio" value="0" name="reportDoc" checked>无测试报告
                                        <input type="radio" value="1" name="reportDoc">有测试报告
                                    </span>
                                        <span th:case="1">
                                            <input type="radio" value="0" name="reportDoc">无测试报告
                                    <input type="radio" value="1" name="reportDoc" checked>有测试报告
                                        </span>
                                </label>
                                </span>
                            </div>
                            <div class="input-group mb-3" style="width: 25%">
                                <span th:switch="*{hasDoc}">
                                    <label class="radio-inline">
                                        <span th:case="0">
                                            <input type="radio" value="0" name="hasDoc" checked>无需求
                                            <input type="radio" value="1" name="hasDoc">有需求
                                        </span>
                                    <span th:case="1">
                                            <input type="radio" value="0" name="hasDoc">无需求
                                            <input type="radio" value="1" name="hasDoc" checked>有需求
                                        </span>
                                </label>
                                </span>
                            </div>
                            <div class="input-group mb-3" style="width: 25%">
                                <span th:switch="*{deliveryStatus}">
                                    <label class="radio-inline">
                                   <span th:case="0">
                                        <input type="radio" value="0" name="deliveryStatus" checked>未交付
                                        <input type="radio" value="1" name="deliveryStatus">已交付
                                        <input type="radio" value="2" name="deliveryStatus">不确定
                                   </span>
                                        <span th:case="1">
                                        <input type="radio" value="0" name="deliveryStatus">未交付
                                        <input type="radio" value="1" name="deliveryStatus" checked>已交付
                                        <input type="radio" value="2" name="deliveryStatus">不确定
                                   </span>
                                        <span th:case="2">
                                        <input type="radio" value="0" name="deliveryStatus">未交付
                                        <input type="radio" value="1" name="deliveryStatus">已交付
                                        <input type="radio" value="2" name="deliveryStatus" checked>不确定
                                   </span>
                                </label>
                                </span>
                            </div>
                            <div class="input-group mb-3">
                                <div class="form-group">
                                    <span class="input-group-text">备注</span>
                                </div>
                                <input th:type="text" th:class="form-control" name="remark" id="remark"
                                       th:value="*{remark}">
                            </div>
                            <div class="col-12">
                                <button type="submit" id="modifySummary" class="btn btn-primary">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
