<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ISSUE | SUMMARY</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <style>
        .tag-warning {
            background-color: #d5be79;
            color: #fff
        }

        .tag-success {
            background-color: #79c98c;
            color: #fff
        }

        .demo-o {
            /*超出部分隐藏*/
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    </style>
</head>
<body>
<!-- 顶部导航 -->
<div th:replace="~{common/common::topbar}"></div>
<div class="section-body mt-4">
    <div class="container-fluid">
        <div class="tab-content">
            <div class="tab-pane active" id="summary-all">
                <!--搜索-->
                <div class="card">
                    <form th:action="@{/summary/list}">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-2 col-md-4 col-sm-6">
                                    <div class="input-group">
                                        <label for="projectName" class="form-label" style="display: none"></label>
                                        <input type="text" class="form-control" name="projectName" id="projectName"
                                               placeholder="请输入项目名称">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-6">
                                    <div class="input-group">
                                        <label for="jobStatus" class="form-label" style="display: none"></label>
                                        <select id="jobStatus" name="jobStatus" class="form-select">
                                            <option>选择任务完成状态</option>
                                            <option th:each="temp:${jobStatusList}" th:value="${temp.getTypeCode()}"
                                                    th:text="${temp.getTypeName()}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-6">
                                    <button type="submit" class="btn btn-primary">search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive card">
                    <table class="table table-bordered table-striped table-advance table-hover">
                        <thead>
                        <tr>
                            <th rowspan="2" th:width="60px">#</th>
                            <th rowspan="2" th:width="130px">项目名称</th>
                            <th rowspan="2" th:width="130px">任务描述</th>
                            <th colspan="2">用例数量</th>
                            <th colspan="5">提交bug</th>
                            <th colspan="5">回测bug</th>
                            <th colspan="2">测试文档</th>
                            <th rowspan="2" th:width="98px">是否有需求</th>
                            <th rowspan="2" th:width="100px">完成状态</th>
                            <th rowspan="2" th:width="100px">是否交付</th>
                            <th rowspan="2" th:width="100px">测试人员</th>
                            <th rowspan="2" th:width="100px">备注</th>
                            <th rowspan="2" th:width="50px"><i class="icon_cogs">
                            </i>操作
                            </th>
                        </tr>
                        <tr>
                            <th th:width="50px">新建</th>
                            <th th:width="50px">执行</th>
                            <th th:width="50px">致命</th>
                            <th th:width="50px">严重</th>
                            <th th:width="50px">一般</th>
                            <th th:width="50px">轻微</th>
                            <th th:width="50px">总计</th>
                            <th th:width="50px">致命</th>
                            <th th:width="50px">严重</th>
                            <th th:width="50px">一般</th>
                            <th th:width="50px">轻微</th>
                            <th th:width="50px">总计</th>
                            <th th:width="82px">bug文档</th>
                            <th th:width="82px">测试报告</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="tempItem,stat:${summaryList.records}">
                            <input name="id" id="id" type="hidden" class="form-control" th:value="${tempItem.getId()}">
                            <td th:text="${stat.count}"></td>
                            <td th:text="${proMap.get(tempItem.getProjectName()).getProjectName()}"
                                class="overflow-hidden"></td>
                            <td th:text="${tempItem.jobDesc}" class="demo-o"></td>
                            <!--编写用例-->
                            <td>
                                <span th:if="${#strings.isEmpty(tempItem.getCreateCaseCount())}">0</span>
                                <span th:text="${tempItem.getCreateCaseCount()}">
                                    <a href="#"></a>
                                </span>
                            </td>
                            <!--执行用例-->
                            <td>
                                <span th:if="${#strings.isEmpty(tempItem.getExecuteCaseCount())}">0</span>
                                <span th:text="${tempItem.getExecuteCaseCount()}"></span>
                            </td>
                            <!--提交bug部分-->
                            <!--致命-->
                            <td>
                                <span th:if="${#maps.isEmpty(level4)}">
                                    <span th:text="0"></span>
                                </span>
                                <span th:each="level:${level4.keySet()}" th:value="${tempItem.projectName}">
<!--                                    貌似存在bug，不太懂前端，慢慢优化-->
                                    <!--                                    <span th:if="${!#strings.equals(level,tempItem.projectName)}" th:text="0"></span>-->
                                <span th:switch="${tempItem.projectName}">
                                    <span th:case="${level}" th:value="${level4.get(level)}"
                                          th:text="${level4.get(level)}"></span>
                                </span>
                            </span>
                            </td>
                            <!--严重-->
                            <td>
                                <span th:if="${#maps.isEmpty(level3)}">
                                    <span th:text="0"></span>
                                </span>
                                <span th:each="level:${level3.keySet()}" th:value="${tempItem.projectName}">
                                <span th:if="${!#strings.equals(level,tempItem.projectName)}" th:text="0"></span>
                                <span th:switch="${tempItem.projectName}">
                                    <span th:case="${level}" th:value="${level3.get(level)}"
                                          th:text="${level3.get(level)}"></span>
                                </span>
                            </span>
                            </td>
                            <!--一般-->
                            <td>
                                <span th:if="${#maps.isEmpty(level2)}">
                                    <span th:text="0"></span>
                                </span>
                                <span th:each="level:${level2.keySet()}" th:value="${tempItem.projectName}">
<!--                                <span th:if="${!#strings.equals(level,tempItem.projectName)}" th:text="0"></span>-->
                                <span th:switch="${tempItem.projectName}">
                                    <span th:case="${level}" th:value="${level2.get(level)}"
                                          th:text="${level2.get(level)}"></span>
                                </span>
                            </span>
                            </td>
                            <!--轻微-->
                            <td>
                                <span th:if="${#maps.isEmpty(level1)}">
                                    <span th:text="0"></span>
                                </span>
                                <span th:each="level:${level1.keySet()}" th:value="${tempItem.projectName}">
                                <span th:if="${!#strings.equals(level,tempItem.projectName)}" th:text="0"></span>
                                <span th:switch="${tempItem.projectName}">
                                    <span th:case="${level}" th:value="${level1.get(level)}"
                                          th:text="${level1.get(level)}"></span>
                                </span>
                            </span>
                            </td>
                            <!--总计-->
                            <td>
                                <span th:if="${#maps.isEmpty(totalCount)}">
                                    <span th:text="0"></span>
                                </span>
                                <span th:each="count1:${totalCount.keySet()}">
                                    <span th:switch="${tempItem.projectName}">
                                        <span th:case="${count1}" th:value="${totalCount.get(count1)}"
                                              th:text="${totalCount.get(count1)}"></span>
                                    </span>
                                </span>
                            </td>
                            <!--回测bug-->
                            <td>
                                <span th:if="${#maps.isEmpty(modifyLevel4)}">
                                    <span th:text="0"></span>
                                </span>
                                <span th:each="level:${modifyLevel4.keySet()}" th:value="${tempItem.projectName}">
                                <span th:if="${!#strings.equals(level,tempItem.projectName)}" th:text="0"></span>
                                <span th:switch="${tempItem.projectName}">
                                    <span th:case="${level}" th:value="${modifyLevel4.get(level)}"
                                          th:text="${modifyLevel4.get(level)}"></span>
                                </span>
                            </span>
                            </td>
                            <td>
                                <span th:if="${#maps.isEmpty(modifyLevel3)}">
                                    <span th:text="0"></span>
                                </span>
                                <span th:each="level:${modifyLevel3.keySet()}" th:value="${tempItem.projectName}">
                                <span th:if="${!#strings.equals(level,tempItem.projectName)}" th:text="0"></span>
                                <span th:switch="${tempItem.projectName}">
                                    <span th:case="${level}" th:value="${modifyLevel3.get(level)}"
                                          th:text="${modifyLevel3.get(level)}"></span>
                                </span>
                            </span>
                            </td>
                            <td>
                                <span th:if="${#maps.isEmpty(modifyLevel2)}">
                                    <span th:text="0"></span>
                                </span>
                                <span th:each="level:${modifyLevel2.keySet()}" th:value="${tempItem.projectName}">
                                <span th:if="${!#strings.equals(level,tempItem.projectName)}" th:text="0"></span>
                                <span th:switch="${tempItem.projectName}">
                                    <span th:case="${level}" th:value="${modifyLevel2.get(level)}"
                                          th:text="${modifyLevel2.get(level)}"></span>
                                </span>
                            </span>
                            </td>
                            <td>
                                <span th:if="${#maps.isEmpty(modifyLevel1)}">
                                    <span th:text="0"></span>
                                </span>
                                <span th:each="level:${modifyLevel1.keySet()}" th:value="${tempItem.projectName}">
                                <span th:if="${!#strings.equals(level,tempItem.projectName)}" th:text="0"></span>
                                <span th:switch="${tempItem.projectName}">
                                    <span th:case="${level}" th:value="${modifyLevel1.get(level)}"
                                          th:text="${modifyLevel1.get(level)}"></span>
                                </span>
                            </span>
                            </td>
                            <!--总计-->
                            <td>
                                <span th:if="${#maps.isEmpty(modifyTotal)}">
                                    <span th:text="0"></span>
                                </span>
                                <span th:each="count1:${modifyTotal.keySet()}">
                                    <span th:switch="${tempItem.projectName}">
                                        <span th:case="${count1}" th:value="${modifyTotal.get(count1)}"
                                              th:text="${modifyTotal.get(count1)}"></span>
                                    </span>
                                </span>
                            </td>
                            <!--bug文档-->
                            <td>
                                <span th:if="${#strings.equals('0',tempItem.bugDoc)}" class="tag">
                                    <svg class="icon" viewBox="0 0 1024 1024"
                                         xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path
                                            d="M563.8 512l262.5-312.9c4.4-5.2 0.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9c-4.4 5.2-0.7 13.1 6.1 13.1h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"
                                            fill="#d81e06"></path></svg>
                                </span>
                                <span th:if="${#strings.equals('1',tempItem.bugDoc)}" class="tag">
                                    <a href="#">
                                        <svg class="icon" viewBox="0 0 1024 1024"
                                             xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                                        <path d="M912 190h-69.9c-9.8 0-19.1 4.5-25.1 12.2L404.7 724.5 207 474c-6.1-7.7-15.3-12.2-25.1-12.2H112c-6.7 0-10.4 7.7-6.3 12.9l273.9 347c12.8 16.2 37.4 16.2 50.3 0l488.4-618.9c4.1-5.1 0.4-12.8-6.3-12.8z"
                                              fill="#1afa29"></path>
                                                        </svg>
                                    </a>
                                </span>
                            </td>
                            <!--测试报告-->
                            <td>
                                <span th:if="${#strings.equals('0',tempItem.getReportDoc())}">
                                    <svg class="icon" viewBox="0 0 1024 1024"
                                         xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path
                                            d="M563.8 512l262.5-312.9c4.4-5.2 0.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9c-4.4 5.2-0.7 13.1 6.1 13.1h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"
                                            fill="#d81e06"></path></svg>
                                </span>
                                <span th:if="${#strings.equals('1',tempItem.getReportDoc())}">
                                    <svg class="icon" viewBox="0 0 1024 1024"
                                         xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                                        <path d="M912 190h-69.9c-9.8 0-19.1 4.5-25.1 12.2L404.7 724.5 207 474c-6.1-7.7-15.3-12.2-25.1-12.2H112c-6.7 0-10.4 7.7-6.3 12.9l273.9 347c12.8 16.2 37.4 16.2 50.3 0l488.4-618.9c4.1-5.1 0.4-12.8-6.3-12.8z"
                                              fill="#1afa29"></path>
                                                        </svg>
                                </span>
                            </td>
                            <!--是否有需求-->
                            <td>
                                <span th:if="${#strings.equals('0',tempItem.getHasDoc())}">
                                    <svg class="icon" viewBox="0 0 1024 1024"
                                         xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path
                                            d="M563.8 512l262.5-312.9c4.4-5.2 0.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9c-4.4 5.2-0.7 13.1 6.1 13.1h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"
                                            fill="#d81e06"></path></svg>
                                </span>
                                <span th:if="${#strings.equals('1',tempItem.getHasDoc())}">
                                    <svg class="icon" viewBox="0 0 1024 1024"
                                         xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                                        <path d="M912 190h-69.9c-9.8 0-19.1 4.5-25.1 12.2L404.7 724.5 207 474c-6.1-7.7-15.3-12.2-25.1-12.2H112c-6.7 0-10.4 7.7-6.3 12.9l273.9 347c12.8 16.2 37.4 16.2 50.3 0l488.4-618.9c4.1-5.1 0.4-12.8-6.3-12.8z"
                                              fill="#1afa29"></path>
                                                        </svg>
                                </span>
                            </td>
                            <!--完成状态-->
                            <td>
                                <span th:if="${#strings.isEmpty(tempItem.getJobStatus())}"
                                      class="tag">x</span>
                                <span th:switch="${tempItem.getJobStatus()}">
                                <span th:case="1">进行中</span>
                                <span th:case="2">待回测</span>
                                <span th:case="3">已回测</span>
                                <span th:case="4">已完成</span>
                            </span>
                            </td>
                            <!--是否交付-->
                            <td>
                                <span th:if="${#strings.equals('0',tempItem.deliveryStatus)}">未交付</span>
                                <span th:if="${#strings.equals('1',tempItem.deliveryStatus)}">已交付</span>
                                <span th:if="${#strings.equals('2',tempItem.deliveryStatus)}">不确定</span>
                            </td>
                            <!--测试人员-->
                            <td th:text="${tempItem.getOwner()}"></td>
                            <!--测试人员-->
                            <td th:text="${tempItem.getRemark()}"></td>
                            <td>
                                <a th:href="@{/summary/goModify(id=${tempItem.getId()})}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-edit-2 align-middle">
                                        <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // console.log(document.getElementById('level4').nodeValue)
</script>
<!--分页-->
<div class="row">
    <div class="col-sm-12 col-md-5">
        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 10 of 11
            entries
        </div>
    </div>
    <div class="col-sm-12 col-md-7">
        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
            <ul class="pagination">
                <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous">
                    <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                </li>
                <li class="paginate_button page-item active">
                    <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                </li>
                <li class="paginate_button page-item active">
                    <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                </li>
                <li class="paginate_button page-item next" id="DataTables_Table_0_next">
                    <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0"
                       class="page-link">next</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
